fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
python-multipart
aiofiles
Pillow
python-dotenv
jinja2
httpx
google-auth
google-auth-oauthlib
requests
email-validator
